.quote {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  color: $dark-grey;
}

.author {
  color: $dark-grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-style: italic;
  margin: .75rem 3rem 2rem 0;
  text-align: right;
}
